# .editorconfig 파일

# EditorConfig 버전
root = true

# 모든 파일에 기본 설정 적용
[*]
charset = utf-8                  # 파일 인코딩
indent_style = tab               # 들여쓰기 스타일: space 또는 tab
indent_size = 4                  # 공백 4칸
end_of_line = lf                 # 줄바꿈 스타일: lf, crlf, cr
insert_final_newline = true      # 파일 마지막에 새 줄 추가
trim_trailing_whitespace = true  # 줄 끝 공백 제거

# 특정 파일 확장자에 대한 설정
[*.md]
trim_trailing_whitespace = false  # Markdown 파일에서는 공백 제거하지 않음

[*.java]
indent_size = 4
max_line_length = 120            # Java 파일의 한 줄 최대 길이


[*.adoc]
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true