spring:
  application:
    name: core-api
  config:
    import:
      - logging.yml
      - db-core.yml
#      - cache-core.yml
#      - batch-core.yml
#      - external-core.yml

  web.resources.add-mappings: false
  profiles:
    active: local

server:
  port: 8081
  tomcat:
    max-connections: 20000
    threads:
      max: 600
      min-spare: 100


---
spring:
  config:
    activate:
      on-profile: local

#---
#
#spring:
#  profiles: prod
#
#---
#
#spring:
#  profiles: dev
#
