<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<appender name="JSON_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/spring/spring-core-server.log</file>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
					<fieldName>@timestamp</fieldName>
				</timestamp>
				<logLevel/>
				<threadName/>
				<loggerName/>
				<message/>
				<mdc/>
				<stackTrace/>
				<callerData/>
				<hostName/>
				<processId/>
				<contextName/>
			</providers>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/spring/spring-core-server.log.%d{yyyy-MM-dd}.json</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>


	<appender name="ERROR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/spring/spring-core-server-error.log</file>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
					<fieldName>@timestamp</fieldName>
				</timestamp>
				<logLevel/>
				<threadName/>
				<loggerName/>
				<message/>
				<mdc/>
				<stackTrace/>
				<callerData/>
				<hostName/>
				<processId/>
				<contextName/>
			</providers>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/spring/spring-core-server-error.log.%d{yyyy-MM-dd}.json</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="SLOW_QUERY_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/spring/spring-core-server-slowquery.log</file>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
					<fieldName>@timestamp</fieldName>
				</timestamp>
				<logLevel/>
				<loggerName/>
				<message/>
				<mdc/>
				<hostName/>
				<processId/>
			</providers>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/spring/spring-core-server-slowquery.log.%d{yyyy-MM-dd}.json</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="ASYNC_JSON" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>5000</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="JSON_APPENDER"/>
	</appender>

	<appender name="ASYNC_ERROR" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>1000</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="ERROR_APPENDER"/>
	</appender>

	<appender name="ASYNC_SLOW_QUERY" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>1000</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="SLOW_QUERY_APPENDER"/>
	</appender>


	<logger name="SLOW_QUERY" level="WARN" additivity="false">
		<appender-ref ref="ASYNC_SLOW_QUERY"/>
	</logger>

	<logger name="org.springframework.jdbc.core.JdbcTemplate" level="WARN" additivity="false">
		<appender-ref ref="ASYNC_SLOW_QUERY"/>
	</logger>


	<root level="info">
		<appender-ref ref="ASYNC_JSON"/>
		<appender-ref ref="ASYNC_ERROR"/>
	</root>

</configuration>
