<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<!-- JSON File Appender -->
	<appender name="JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/spring/spring-core-server.log</file>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
				</timestamp>
				<logLevel/>
				<threadName/>
				<loggerName/>
				<message/>
				<mdc/>
			</providers>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/spring/spring-core-server.log.%d{yyyy-MM-dd}.json</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.DefaultTimeBasedFileNamingAndTriggeringPolicy" />
		</rollingPolicy>
	</appender>


	<appender name="GitHubJson" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/spring/git-hub.log</file>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
				</timestamp>
				<logLevel/>
				<threadName/>
				<loggerName/>
				<message/>
				<mdc/>
			</providers>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/spring/git-hub.log.%d{yyyy-MM-dd}.json</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="OcoJson" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/spring/oco.log</file>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
				</timestamp>
				<logLevel/>
				<threadName/>
				<loggerName/>
				<message/>
				<mdc/>
			</providers>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/spring/oco.log.%d{yyyy-MM-dd}.json</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="SellicJson" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/spring/sellic.log</file>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
				</timestamp>
				<logLevel/>
				<threadName/>
				<loggerName/>
				<message/>
				<mdc/>
			</providers>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/spring/sellic.log.%d{yyyy-MM-dd}.json</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>


	<!-- Loggers for External Clients -->
	<logger name="external-client.git-hub" level="INFO" additivity="false">
		<appender-ref ref="GitHubJson" />
	</logger>

	<logger name="external-client.oco" level="INFO" additivity="false">
		<appender-ref ref="OcoJson" />
	</logger>

	<logger name="external-client.sellic" level="INFO" additivity="false">
		<appender-ref ref="SellicJson" />
	</logger>




	<root level="error">
		<appender-ref ref="JSON" />
	</root>
</configuration>
