<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

	<!-- Console Logging -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [traceId=%X{traceId}] %-5level %logger{36}.%M - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- Logstash Logging -->
	<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>localhost:5044</destination>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"appname":"core-server","profile":"local"}</customFields>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- Root Logger 설정을 DEBUG로 변경 -->
	<root level="DEBUG"> <!-- root level을 DEBUG로 변경 -->
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="LOGSTASH" />
	</root>

	<!-- com.monikit 패키지 로그를 DEBUG로 설정 -->
	<logger name="com.monikit" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>

</configuration>
